<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564821867293-eloqhcbn6386lsd7lsps3847tli5o5ps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564821867293-eloqhcbn6386lsd7lsps3847tli5o5ps</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>564821867293-g5pmkrkhicsfl2do8pfp68lf9ei5e4rg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDirtZbG39mMswEYwdP4oqqkVjFv3KI5E</string>
	<key>GCM_SENDER_ID</key>
	<string>564821867293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homemakers.merchant.dev</string>
	<key>PROJECT_ID</key>
	<string>homeway-e4577</string>
	<key>STORAGE_BUCKET</key>
	<string>homeway-e4577.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564821867293:ios:3bcfb98c0b906d594dfff4</string>
	<key>DATABASE_URL</key>
	<string>https://homeway-e4577-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>